body {
    background-color: #F1E4DA;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    margin: 3rem 6%;
}

header > img {
    display: block;
    margin: 0 auto;
    height: 10rem;
    width: auto;
    padding-bottom: 2%;
}

nav {
    padding: 1rem;
    background-color: #F5ECE5;
    border-radius: 1rem 1rem 0 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

nav li {
    flex: 1;
}

nav a {
    color: #63372c;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}

nav a::before {
    content: '';
    position: absolute;
    width: 0; 
    height: 0.05rem; 
    background: #63372c;
    transition: width 0.4s ease-in-out; 
    bottom: -0.6rem; 
    left: 50%; 
    transform: translateX(-50%); 
}

nav a:hover::before {
    width: 100%; 
}

section {
    display: flex;
    gap: 1%;
    padding-bottom: 1%;
}

article {
    flex: 1;
    display: flex; /* nesting flex */
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5ECE5;
    border-radius: 1rem;
    text-align: center;
}

article h2 {
    text-align: center;
    font-size: 1.6rem;
}

article p {
    padding: 8% 16%;
    margin: 0;
}

article div {
    padding: 0 1.5rem 2rem 1.5rem;
}

article a {
    font-size: 1.3rem;
    color: #26877F;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}

article a:hover,
.promotion h1 a:hover {
    color: #67ABA5;
}

article img {
    border-radius: 100%;
    width: 80%;
    margin: 0 auto;
}

footer {
    display: flex;
    padding: 2rem 0;
}

footer div {
    flex: 1;
}

.promotion {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 100%),
                      url('./assets/succulents.png');
    background-size: cover;
    background-position: center;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    height: 304px;
    position: relative;
    color: #ffffff;
}

.promotion h1 {
    font-size: 2.6rem;
    text-transform: uppercase;
    padding-left: 3rem;
    margin: 0;
}

.promotion h1 a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s ease-in-out;
}

.promotion p {
    padding-left: 3rem;
    padding-bottom: 1.5rem;
}

footer > div > img {
    height: 5rem;
    width: auto;
    align-self: flex-start;
}

.copyright {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
    align-self: flex-end;
}